$color-primary: #1F7604;
$color-primary-shadow: #24481D;
$color-orange: #FF8400;
$color-brown: #9C6C1C;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;

$font-kanit: "Kanit", sans-serif;
$font-knewave: "Knewave", sans-serif;