.header {
  height: 100px;
  background-color: $color-primary;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .2);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar-brand {
    color: $color-orange;
    font-family: $font-knewave;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 8px;
  }

  img {
    display: inline-flex;
    margin-bottom: 10px;
  }

  .nav {

    &__element {
      padding: 0 10px;
      list-style-type: none;

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      color: $color-orange;
      font-family: $font-kanit;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 5px solid transparent;
      letter-spacing: 0.15rem;

      &:hover {
        color: $color-black;
        border-color: $color-primary-shadow;
      }
    }
  }


  &__nav {
    display: flex;

      .nav__element {
        padding: 0;
      }

      .nav__link {
        display: block;
        padding: 14px 20px;
      }
    }
  }
}