.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__content {
    margin-top: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cornsilk;
    border: solid 5px $color-orange;
    padding: 20px;
    border-radius: 50px;
  }

  &__header {
    font-size: 3.0625rem;
  }

  &__heading {
    margin-top: 20px;
  }

  &__image {
    width: 100%;
    height: 70%;
    display: block;
    /*opacity: 0.5;*/
  }
}
